/*
    Color palette
*/
:root[data-theme="light"] {
  --color-text: #260015;
  --color-background: #fff6fb;
  --color-primary: #fc1b99;
  --color-secondary: #fd9972;
  --color-accent: #fdbe4d;
}
:root[data-theme="dark"] {
  --color-text: #ffdbef;
  --color-background: #0a0006;
  --color-primary: #e20382;
  --color-secondary: #8d2902;
  --color-accent: #b17302;
}

/* Avstander(spacing)  */

.root {
  --spacing-short: 5px ;
  --spacing-long: 15px; 
  --spacing-medium: 20px; 

}


body {
  background-color: var(--color-background);
}

h1 {
  background-color: var(--color-primary);
  height: 100px;
}

h2 {
  background-color: var(--color-secondary);
}

span {
  color: var(--color-accent);
  
}

.background-color-white {
  background-color: white;
}

#welcome-section {
  background-color: var(--color-secondary);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#main-part-section {
  background-color: var(--color-primary);
  padding: 10px;
}