body {
  background-color: blueviolet;
}

h1 {
  background-color: bisque;
  height: 100px;
}

h2 {
  background-color: aqua;
}

span {
  color: gold;
  
}

.background-color-white {
  background-color: white;
}

#welcome-section {
  background-color: pink;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#main-part-section {
  background-color: aquamarine;
  padding: 10px;
}